<html>
    <head>
        <title>Dashboard - Sistem Pembayaran DJ</title>
        <!--Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <!-- CSS Custom -->
        <link rel="stylesheet" href="CSS/datasiswa.css">

        <link rel="icon" type="image/png" href="Image/Icon1.png">
        <script src="https://kit.fontawesome.com/07552a3127.js" crossorigin="anonymous"></script>
        
    </head>

<body>
    <!-- Sidebar -->
    <div class="wrapper">
        <div class="section">
            <div class="box-area">
                <div class="back-btn">
                    <div class="head-pack">
                        <br>
                        <h2>Data Siswa/i Daarul Jannah</h2>
                        <h2>Sistem Cek Pembayaran Sekolah Daarul Jannah</h2>
                    </div>
                </div>
                    <table border=1 class="tbl-dt-siswa tbl-hover">
                        <tr>
                            <td rowspan="6" class="cell-foto""><img src="Image/foto-siswa.png" class="ft-siswa" alt=""></td>
                            <td><b>Nama</b></td>
                            <td><b>:</b></td>
                            <td>Muhammad Helmi Muzakki</td>
                        </tr>
                        <tr>
                            <td><b>Kelas</b></td>
                            <td><b>:</b></td>
                            <td>9D</td>
                        </tr>
                        <tr>
                            <td><b>Sex</b></td>
                            <td><b>:</b></td>
                            <td>Laki - laki</td>
                        </tr>
                        <tr>
                            <td><b>Status</b></td>
                            <td><b>:</b></td>
                            <td>Reguler</td>
                        </tr>
                        <tr>
                            <td><b>NIS</b></td>
                            <td><b>:</b></td>
                            <td>69420</td>
                        </tr>
                        <tr>
                            <td><b>NISN</b></td>
                            <td><b>:</b></td>
                            <td>019181445323</td>
                        </tr>
                    </table>
                    <br>
                    <form>
                        <div class="cmd-btn">
                            <input type="submit" class="btn btn-success" id="save" name="save" value = "Ubah Data Siswa/i">
                            <input type="submit" class="btn btn-danger" id="delete" name="delete" value= "Hapus Data Siswa/i">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>