<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="Image/Icon.png">
        <link rel="stylesheet" href="CSS/login-style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <title>Login Page</title>
    </head>
    <body>
        <div class = "container">
            <img src = "Image/logo-sekolah.png">
            <form>
                <label class="nip">NIP</label>
                <input type="text" maxlength="16" name="nip"><br>
                <label class="password">Kata Sandi</label>
                <input type="password" name="password"><br>
                <div class = "box-btn">
                    <div class = "btn">
                        <input id="submit-btn" type="submit" name="submit" value="Masuk" class="text"/>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
