<!DOCTYPE html>
{% extends 'base.html' %}

{% block head%}

{% endblock %}
{% block body %}
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active" style="color: #f6f6f6;"> Sign In </h2>
      <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <!-- Icon tag here -->
      </div>
  
      <!-- Login Form -->
      <form action="/login" method="POST">
        <input type="text" id="ID" class="fadeIn second" name="ID" placeholder="ID">
        <input type="text" id="Password" class="fadeIn third" name="Password" placeholder="Password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <!-- <a class="underlineHover" href="#">Forgot Password?</a> -->
      </div>
  
    </div>
  </div>
{% endblock %}