<!DOCTYPE html>
{% extends 'base.html' %}

{% block head%}
  <title>Dashboard - Sistem Pembayaran DJ</title>

  <script>
    document.getElementById('judul').innerHTML = "Dashboard";
  </script>

  <!--Font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
  <script src="https://kit.fontawesome.com/07552a3127.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<nav class="navbar navbar-light header">
  <a>
  <button class ="box-menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
  <img src="{{ url_for('static', filename='logo-sekolah.png') }}" width="40" height="40" class="d-inline-block" alt="">
  </a>
  <div class="user-box">
      <i class="fas fa-user-circle id"></i>
      <div class="id">
          <p class = "nama">{{ session['nama'] }}<br></p>
      </div>
  </div>
</nav>

  <h1 class = "text-center h1">Sistem Cek Pembayaran<br>Sekolah Daarul Jannah</h1>

  <div class="card mx-auto menu1 " style="width: 18rem;">
  <a href="/ubah_data">
  <div class="card-body">
  <img src="{{ url_for('static', filename='fa-solid_user-edit.png') }}" class="card-img-overlay">
  <p class="card-text">Ubah Data<br>Siswa</p>
  </div>
  </a>
  </div>

  <div class="card mx-auto menu2" style="width: 18rem;">
  <a href="/pengecekan_pembayaran_siswa">
  <div class="card-body">
  <img src="{{ url_for('static', filename='fa-solid_user-check.png') }}" class="card-img-overlay">
  <p class="card-text">Cek Pembayaran<br>Siswa</p>
  </div>
  </a>
  </div>

  <footer class="bg-light text-center text-lg-start footer">
  <!-- Copyright -->
  <div class="text-left p-3">
  Copyright © 2021 Sekolah Daarul Jannah
  </div>
  </footer>
{% endblock %}
