<!DOCTYPE html>
{% extends 'base.html' %}
<html>
    <head>
        {% block head%}
        <title>Detail Data Pegawai - Sistem Pembayaran DJ</title>
        <script>document.title = "Detail Data Pegawai - Sistem Pembayaran DJ"</script>
        {% endblock %}
    </head>

<body>
    <!-- Sidebar -->
            {% block body %}
            <h1 class="page-title">Detail Data Pegawai Daarul Jannah</h1>
            <h4 class="sub-title">Sistem Cek Pembayaran Sekolah Daarul Jannah</h4>
            
            <div class="container">
                <div class="card">
                    <div class="row fl-stretch">
                        {% set foto_pegawai = "foto_pegawai/" + pegawai['foto_path'] %}
                        <img src="{{url_for('static', filename=foto_pegawai)}}" class="ft-siswa" alt="foto orang" style="margin-right:5%; margin-left:5%">
                        <div >
                            <div class="row detail">
                                <h4 class="in-2">Nama</h4>
                                <h4>:</h4>
                                <div class="dtl-style">
                                    <h4>{{pegawai.nama_pegawai}}</h4>
                                </div>
                            </div>
                               
                            <div class="row">
                                <div class="row detail">
                                    <h4 class="in-1">NIP</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{pegawai.nip}}</h4>
                                    </div>
                                </div>
                                <div class="row detail">
                                    <h4 class="in-1">Status</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{pegawai.status}}</h4>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="row detail">
                                    <h4 class="in-1">Jabatan</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{pegawai.jabatan}}</h4>
                                    </div>
                                </div>
                                <div class="row detail">
                                    <h4 class="in-1">Jenis Kelamin</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{pegawai.jenis_kelamin}}</h4>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="row detail">
                                    <h4 class="in-1">Otoritas Sistem</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{pegawai.otoritas}}</h4>
                                    </div>
                                </div>
                                <div class="row detail">
                                    <h4 class="in-1">Username</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{pegawai.username}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row detail">
                                <h4 class="in-2">Password</h4>
                                <h4>:</h4>
                                <div class="dtl-style">
                                    <h4>{{pegawai.password}}</h4>
                                </div>
                            </div>

                            
                        </div>
                            
                    </div>
                    <div class="row cmd-btn" style="justify-content:flex-end;">
                        <a href="">
                            <p class="ch-btn btn">Ubah Data Pegawai</p>
                        </a>
                        <a href="">
                            <p class="del-btn btn">Hapus Data Pegawai</p>
                        </a>
                </div> 
                </div>
            </div> 
            <script src="{{url_for('static', filename='Javascript/datpeg_active_class.js')}}">   </script>   
            {% endblock %}

</body>