<!DOCTYPE html>
{% extends 'base.html' %}
<html>
    <head>
        {% block head%}
        <title>Detail Data Siswa - Sistem Pembayaran DJ</title>
        <script>document.title = "Detail Data Siswa - Sistem Pembayaran DJ"</script>
        {% endblock %}
    </head>

<body>
    <!-- Sidebar -->
            {% block body %}
            <div class="container">
                <h1 class="page-title">Detail Data Siswa/i Daarul Jannah</h1>
                <h4 class="sub-title">Sistem Cek Pembayaran Sekolah Daarul Jannah</h4>
                    
                <div class="card">
                    <div class="wrap-data">
                        {% set foto_siswa = "foto_siswa/" + siswa.foto_path %}
                        <img src="{{ url_for('static', filename = foto_siswa) }}" class="ft-siswa" alt="">
                        <table class="tb-detail-siswa">
                            <tr>
                                <td><b>Nama</b></td>
                                <td><b>:</b></td>
                                <td>{{siswa.nama_siswa}}</td>
                            </tr>
                            <tr>
                                <td><b>Kelas</b></td>
                                <td><b>:</b></td>
                                <td>{{siswa.kelas}}</td>
                            </tr>
                            <tr>
                                <td><b>Jenis Kelamin</b></td>
                                <td><b>:</b></td>
                                <td>{{siswa.jenis_kelamin}}</td>
                            </tr>
                            <tr>
                                <td><b>Status</b></td>
                                <td><b>:</b></td>
                                <td>{{siswa.status}}</td>
                            </tr>
                            <tr>
                                <td><b>NIS</b></td>
                                <td><b>:</b></td>
                                <td>{{siswa.nis}}</td>
                            </tr>
                            <tr>
                                <td><b>NISN</b></td>
                                <td><b>:</b></td>
                                <td>{{siswa.nisn}}</td>
                            </tr>
                        </table>
                        
                    </div>
                    <div class="cmd-btn">
                        <a href="{{ url_for('ubah_siswa', nis = siswa['nis']) }}">
                            <p class="btn btn-success">Ubah Data Siswa/i</p>
                        </a>
                        <a href="{{ url_for('hapus_siswa', nis = siswa['nis']) }}">
                            <p class="btn btn-danger">Hapus Data Siswa/i</p>
                        </a>
                    </div>
                </div>
                    
                    <br>
                    
                </div>
            </div>
            {% endblock %}

</body>