<!DOCTYPE html>
{% extends 'base.html' %}
<html>
    <head>
        {% block head%}
        <title>Dashboard - Sistem Pembayaran DJ</title>
        <!-- CSS Custom -->
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/dashboard.css') }}">
        {% endblock %}
    </head>

<body>
    <!-- Sidebar -->
            {% block body %}
            <div class="box-area">
                <div class="back-btn">
                    <div class="head-pack">
                        <br>
                        <h2>Data Siswa/i Daarul Jannah</h2>
                        <h2>Sistem Cek Pembayaran Sekolah Daarul Jannah</h2>
                    </div>
                </div>
                    <table border=1 class="tbl-dt-siswa tbl-hover">
                        <tr>
                            <td rowspan="6" class="cell-foto""><img src="{{ url_for('static', filename='Image/foto-siswa.png') }}" class="ft-siswa" alt=""></td>
                            <td><b>Nama</b></td>
                            <td><b>:</b></td>
                            <td>{{siswa.nama_siswa}}</td>
                        </tr>
                        <tr>
                            <td><b>Kelas</b></td>
                            <td><b>:</b></td>
                            <td>{{siswa.kelas}}</td>
                        </tr>
                        <tr>
                            <td><b>Sex</b></td>
                            <td><b>:</b></td>
                            <td>{{siswa.jenis_kelamin}}</td>
                        </tr>
                        <tr>
                            <td><b>Status</b></td>
                            <td><b>:</b></td>
                            <td>{{siswa.status}}</td>
                        </tr>
                        <tr>
                            <td><b>NIS</b></td>
                            <td><b>:</b></td>
                            <td>{{siswa.nis}}</td>
                        </tr>
                        <tr>
                            <td><b>NISN</b></td>
                            <td><b>:</b></td>
                            <td>{{siswa.nisn}}</td>
                        </tr>
                    </table>
                    <br>
                    <div class="cmd-btn">
                        <input type="submit" class="btn btn-success" id="save" name="save" value = "Ubah Data Siswa/i">
                        <input type="submit" class="btn btn-danger" id="delete" name="delete" value= "Hapus Data Siswa/i">
                    </div>
                </div>
            </div>
            {% endblock %}

</body>