<!DOCTYPE html>
{% extends 'base.html' %}
<html>
    <head>
        {% block head%}
        <title>Detail Data Siswa - Sistem Pembayaran DJ</title>
        <script>document.title = "Detail Data Siswa - Sistem Pembayaran DJ"</script>
        {% endblock %}
    </head>

<body>
    <!-- Sidebar -->
            {% block body %}
            <h1 class="page-title">Detail Data Siswa/i Daarul Jannah</h1>
            <h4 class="sub-title">Sistem Cek Pembayaran Sekolah Daarul Jannah</h4>
            
            <div class="container">
                <div class="card">
                    <div class="row fl-stretch">
                        {% set foto_siswa = "foto_siswa/" + siswa['foto_path'] %}
                        <img src="{{url_for('static', filename=foto_siswa)}}" class="ft-siswa" alt="foto orang" style="margin-right:5%; margin-left:5%">
                        <div >
                            <div class="row detail">
                                <h4 class="in-2">Nama</h4>
                                <h4>:</h4>
                                <div class="dtl-style">
                                    <h4>{{siswa.nama_siswa}}</h4>
                                </div>
                            </div>
                               
                            <div class="row">
                                <div class="row detail">
                                    <h4 class="in-1">NIS</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{siswa.nis}}</h4>
                                    </div>
                                </div>
                                <div class="row detail">
                                    <h4 class="in-1">NISN</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{siswa.nisn}}</h4>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="row detail">
                                    <h4 class="in-1">Tingkat</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{siswa.tingkat}}</h4>
                                    </div>
                                </div>
                                <div class="row detail">
                                    <h4 class="in-1">Kelas</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{siswa.kelas}}</h4>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="row detail">
                                    <h4 class="in-1">Jenis Kelamin</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{siswa.jenis_kelamin}}</h4>
                                    </div>
                                </div>
                                <div class="row detail">
                                    <h4 class="in-1">Status</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{siswa.status}}</h4>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                            
                    </div>
                    <div class="row cmd-btn" style="justify-content:flex-end;">
                        <a href="{{ url_for('ubah_siswa', nis = siswa['nis']) }}">
                            <p class="ch-btn btn">Ubah Data Siswa/i</p>
                        </a>
                        <a href="{{ url_for('hapus_siswa', nis = siswa['nis']) }}">
                            <p class="del-btn btn">Hapus Data Siswa/i</p>
                        </a>
                </div> 
                </div>
            </div>    
            {% endblock %}

</body>