<!DOCTYPE html>
{% extends 'base.html' %}

<html>
    <head>
        {% block head %}
            <!-- <title>Riwayat Pembayaran - Sistem Pembayaran DJ</title> -->
            <script>document.title = "Pembayaran - Sistem Pembayaran DJ"</script>
        {% endblock %}
    </head>

    <body>
        {% block body %}
        
        <h1 class="page-title">Data Pembayaran Siswa/i Sekolah Daarul Jannah</h1>
        <h4 class="sub-title">Data Siswa/i Sekolah Daarul Jannah</h4>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="container">
                <div class="card">
                    <div class="row fl-stretch" style="margin-bottom:2%">
                        <div class="column" >
                            <h4 class="text">Data Siswa/i</h4>
                            <div class="card-nosh" style="margin-right:10px">
                                <div class="row " style="align-items:center;justify-content:center;">
                                    {% set foto_siswa = "foto_siswa/" + siswa['foto_path'] %}
                                    <img src="{{url_for('static', filename=foto_siswa)}}" class="ft-siswa" alt="foto orang" style="margin-right:2%;">
                                    <div class="column">
                                        <div class="row detail">
                                            <h4>Nama</h4>
                                            <h4>:</h4>
                                            <p>{{siswa.nama_siswa}}</p>
                                        </div>
                                        <div class="row detail">
                                            <h4>Kelas</h4>
                                            <h4>:</h4>
                                            <p>{{siswa.kelas}}</p>
                                        </div>
                                        <div class="row detail">
                                            <h4>Jenis Kelamin</h4>
                                            <h4>:</h4>
                                            <p>{{siswa.jenis_kelamin}}</p>
                                        </div>
                                        <div class="row detail">
                                            <h4>Status</h4>
                                            <h4>:</h4>
                                            <p>{{siswa.status}}</p>
                                        </div>
                                        <div class="row detail">
                                            <h4>NIS</h4>
                                            <h4>:</h4>
                                            <p>{{siswa.nis}}</p>
                                        </div>
                                        <div class="row detail">
                                            <h4>NISN</h4>
                                            <h4>:</h4>
                                            <p>{{siswa.nisn}}</p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="column">
                            
                                <h4 class="text" style="margin-left:10px">Input Data Rincian Tagihan </h4>
                                <div class="card-nosh" style="margin-left:10px">
                                    <div class="detail-tagihan">
                                        <div style="margin-bottom:10px">
                                            <p>Periode Pembayaran :</p>
                                            <select id="periode">
                                                <option>agustus</option>
                                            </select>
                                            <select id="tahun_ajaran">
                                                <option>2023/2024 Ganjil</option>
                                                <option>2023/2024 Genap</option>
                                            </select>
                                        </div>
                                        <div >
                                            <p>Pilih Tagihan :</p>
                                            <ul>
                                                <li >
                                                    <select id="tagihan" style="width:40%">
                                                        <option>Katering</option>
                                                    </select> &emsp;
                                                    Rp.&ensp;
                                                    <input type="number" id="harga1" placeholder="Masukkan Nominal" style="width:40%">
                                                    <!-- &ensp; -->
                                                    <button class="tgh-btn" title="Tambah Tagihan"><i class="fa-solid fa-circle-plus"></i></button>
                                                </li>
                                            </ul>
                                            <!-- <button class="tgh-btn btn">Tambah Tagihan</button> -->
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                        
                    </div>
                    <div class="row cmd-btn" style="justify-content:flex-end;">
                        <a>
                            <input type="submit" class="p-btn btn" value="Simpan Pembayaran">
                            <!-- <p >Simpan Pembayaran</p> -->
                        </a>
                    </div>
                    
                </div>
                
            </div>
        </form>
        
        {% endblock %}
    </body>
</html>