<!DOCTYPE html>
{% extends 'base.html' %}

<html>
    <head>
        {% block head %}
            <!-- <title>Riwayat Pembayaran - Sistem Pembayaran DJ</title> -->
            <script>document.title = "Riwayat Pembayaran - Sistem Pembayaran DJ"</script>
        {% endblock %}
    </head>

    <body>
        {% block body %}
        
        <h1 class="page-title">Data Pembayaran Siswa/i Sekolah Daarul Jannah</h1>
        <h4 class="sub-title">Data Siswa/i Sekolah Daarul Jannah</h4>
        
        <div class="container">
            <div class="card">
                <div class="row fl-stretch" style="margin-bottom:2%">
                    <div class="column" >
                        <h4 class="text">Data Siswa/i</h4>
                        <div class="card-nosh" style="margin-right:10px">
                            <div class="row " style="align-items:center;justify-content:center;">
                                <img src="../static/foto_siswa/1549425553128.png" class="ft-siswa" alt="foto orang"  style="margin-right:2%">
                                <div class="column">
                                    <div class="row detail">
                                        <h4>Nama</h4>
                                        <h4>:</h4>
                                        <p>{{siswa.nama_siswa}}</p>
                                    </div>
                                    <div class="row detail">
                                        <h4>Kelas</h4>
                                        <h4>:</h4>
                                        <p>{{siswa.kelas}}</p>
                                    </div>
                                    <div class="row detail">
                                        <h4>Sex</h4>
                                        <h4>:</h4>
                                        <p>{{siswa.jenis_kelamin}}</p>
                                    </div>
                                    <div class="row detail">
                                        <h4>Status</h4>
                                        <h4>:</h4>
                                        <p>{{siswa.status}}</p>
                                    </div>
                                    <div class="row detail">
                                        <h4>NIS</h4>
                                        <h4>:</h4>
                                        <p>{{siswa.nis}}</p>
                                    </div>
                                    <div class="row detail">
                                        <h4>NISN</h4>
                                        <h4>:</h4>
                                        <p>{{siswa.nisn}}</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="column">
                        <h4 class="text" style="margin-left:10px">Rincian Tagihan</h4>
                        <div class="card-nosh" style="margin-left:10px">
                            <p>hello</p>
                        </div>
                    </div>
                    
                </div>

                <div>
                    <h4 class="text">Riwayat Pembayaran Siswa/i</h4>
                    <table >
                        <thead>
                            <th>Tanggal Pembayaran</th>
                            <th>SPP</th>
                            <th>Tabungan Wajib</th>
                            <th>Katering</th>
                            <th>Jemputan</th>
                            <th>Ekskul</th>
                            <th>Majelis Sekolah</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>09/02/2021</td>
                                <td>Rp.690.000,-</td>
                                <td>Rp.690.000,-</td>
                                <td>Rp.690.000,-</td>
                                <td>Rp.690.000,-</td>
                                <td>Rp.690.000,-</td>
                                <td>Rp.690.000,-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            
            
        {% endblock %}
    </body>
</html>