<!DOCTYPE html>
{% extends 'base.html' %}

<html>
    <head>
        {% block head %}
            <!-- <title>Riwayat Pembayaran - Sistem Pembayaran DJ</title> -->
            <script>document.title = "Riwayat Pembayaran - Sistem Pembayaran DJ"</script>
        {% endblock %}
    </head>

    <body>
        {% block body %}
        
        <h1 class="page-title">Data Pembayaran Siswa/i Sekolah Daarul Jannah</h1>
        <h4 class="sub-title">Data Siswa/i Sekolah Daarul Jannah</h4>
        
        <div class="container">
            <div class="card">
                <div class="row fl-stretch" style="margin-bottom:2%">
                    <div class="column" >
                        <h4 class="text">Data Siswa/i</h4>
                        <div class="card-nosh" style="margin-right:10px">
                            <div class="row " style="align-items:center;justify-content:center;">
                                {% set foto_siswa = "foto_siswa/" + siswa['foto_path'] %}
                                <img src="{{url_for('static', filename=foto_siswa)}}" class="ft-siswa" alt="foto orang" style="margin-right:2%;">
                                <div class="column">
                                    <div class="row detail">
                                        <h4>Nama</h4>
                                        <h4>:</h4>
                                        <p>{{siswa.nama_siswa}}</p>
                                    </div>
                                    <div class="row detail">
                                        <h4>Kelas</h4>
                                        <h4>:</h4>
                                        <p>{{siswa.kelas}}</p>
                                    </div>
                                    <div class="row detail">
                                        <h4>Jenis Kelamin</h4>
                                        <h4>:</h4>
                                        <p>{{siswa.jenis_kelamin}}</p>
                                    </div>
                                    <div class="row detail">
                                        <h4>Status</h4>
                                        <h4>:</h4>
                                        <p>{{siswa.status}}</p>
                                    </div>
                                    <div class="row detail">
                                        <h4>NIS</h4>
                                        <h4>:</h4>
                                        <p>{{siswa.nis}}</p>
                                    </div>
                                    <div class="row detail">
                                        <h4>NISN</h4>
                                        <h4>:</h4>
                                        <p>{{siswa.nisn}}</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="column">
                        <h4 class="text" style="margin-left:10px">Rincian Tagihan</h4>
                        <div class="card-nosh" style="margin-left:10px">
                            <p>hello</p>
                        </div>
                    </div>
                    
                </div>

                <div>
                    <h4 class="text">Riwayat Pembayaran Siswa/i</h4>
                    <table class="roundedTable">
                        <thead>
                            <th>Tanggal Pembayaran</th>
                            <th>SPP</th>
                            <th>Tabungan Wajib</th>
                            <th>Katering</th>
                            <th>Jemputan</th>
                            <th>Ekskul</th>
                            <th>Majelis Sekolah</th>
                            <th>Kelas Berbakat</th>
                            <th>Total</th>
                        </thead>
                        <tbody >
                            {% for pembayaran in pembayaran %}
                                <tr>
                                    <td>{{pembayaran.waktu_pembayaran}}</td>
                                    {% if pembayaran.spp == "0" %}
                                        <td>-</td>
                                    {% elif not pembayaran.spp == "0" %}
                                        <td>Rp. {{pembayaran.spp}}</td>
                                    {% endif %}
                                    {% if pembayaran.tabungan_wajib == "0" %}
                                        <td>-</td>
                                    {% elif not pembayaran.tabungan_wajib == "0" %}
                                        <td>Rp. {{pembayaran.tabungan_wajib}}</td>
                                    {% endif %}
                                    {% if pembayaran.katering == "0" %}
                                        <td>-</td>
                                    {% elif not pembayaran.katering == "0" %}
                                        <td>Rp. {{pembayaran.katering}}</td>
                                    {% endif %}
                                    {% if pembayaran.jemputan == "0" %}
                                        <td>-</td>
                                    {% elif not pembayaran.jemputan == "0" %}
                                        <td>Rp. {{pembayaran.jemputan}}</td>
                                    {% endif %}
                                    {% if pembayaran.ekskul == "0" %}
                                        <td>-</td>
                                    {% elif not pembayaran.ekskul == "0" %}
                                        <td>Rp. {{pembayaran.ekskul}}</td>
                                    {% endif %}
                                    {% if pembayaran.majelis_sekolah == "0" %}
                                        <td>-</td>
                                    {% elif not pembayaran.majelis_sekolah == "0" %}
                                        <td>Rp. {{pembayaran.majelis_sekolah}}</td>
                                    {% endif %}
                                    {% if pembayaran.kelas_berbakat == "0" %}
                                        <td>-</td>
                                    {% elif not pembayaran.kelas_berbakat == "0" %}
                                        <td>Rp. {{pembayaran.kelas_berbakat}}</td>
                                    {% endif %}
                                    <td>Rp. {{pembayaran.total}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- <div class="table" id="data_siswa">
                    <h4 class="text">Riwayat Pembayaran Siswa/i</h4>
                    <table class="coll ">
                        <tr>
                            <th>NIS</th>
                            <th>Nama Siswa/i</th>
                            <th>Jenis Kelamin</th>
                            <th>Status Siswa/i</th>
                            <th>Tingkat</th>
                            <th>Kelas</th>
                            <th>Menu Fungsi</th>
                        </tr>
                        {% for siswa_tk in siswa_tk %}
                        <tr>
                            <td>{{ siswa_tk.nis }}</td>
                            <td class="tb-name">
                                {{siswa_tk.nama_siswa}}
                            </td>
                            <td>{{ siswa_tk.jenis_kelamin }}</td>
                            <td>{{ siswa_tk.status }}</td>
                            <td> TK </td>
                            <td>{{ siswa_tk.kelas }}</td>
                            <td class="row" style="justify-content:center ;">
                                <a href="{{ url_for('detail_siswa', nis = siswa_tk['nis']) }}" class="btn-2 fungsi" title="Detail Siswa">
                                    <i class="fa-solid fa-id-card"></i>
                                </a>
                                <a href="{{ url_for('riwayat_pembayaran', nis = siswa_tk['nis']) }}" class="btn-1 fungsi" title="Riwayat Pembayaran">
                                    <i class="fi fi-sr-ballot"></i>
                                </a>
                                <a href="{{ url_for('pembayaran_siswa', nis = siswa_tk['nis']) }}" class="btn-2 fungsi" title="Pembayaran SPP">
                                    <i class="fi fi-sr-money-check-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor%}
                        {% for siswa_sd in siswa_sd %}
                        <tr>
                            <td>{{ siswa_sd.nis }}</td>
                            <td>{{siswa_sd.nama_siswa}}
                                
                            </td>
                            <td>{{ siswa_sd.jenis_kelamin }}</td>
                            <td>{{ siswa_sd.status }}</td>
                            <td> SD </td>
                            <td>{{ siswa_sd.kelas }}</td>
                            <td class="row" style="justify-content:center ;">
                                <a href="{{ url_for('detail_siswa', nis = siswa_sd['nis']) }}" class="btn-2 fungsi" title="Detail Siswa">
                                    <i class="fa-solid fa-id-card"></i>
                                </a>
                                <a href="{{ url_for('riwayat_pembayaran', nis = siswa_sd['nis']) }}" class="btn-1 fungsi" title="Riwayat Pembayaran">
                                    <i class="fi fi-sr-ballot"></i>
                                </a>
                                <a href="{{ url_for('pembayaran_siswa', nis = siswa_sd['nis']) }}" class="btn-2 fungsi" title="Pembayaran SPP">
                                    <i class="fi fi-sr-money-check-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor%}
                        {% for siswa_smp in siswa_smp %}
                        <tr>
                            <td>{{ siswa_smp.nis }}</td>
                            <td>{{siswa_smp.nama_siswa}}
                                
                            </td>
                            <td>{{ siswa_smp.jenis_kelamin }}</td>
                            <td>{{ siswa_smp.status }}</td>
                            <td> SMP </td>
                            <td>{{ siswa_smp.kelas }}</td>
                            <td class="row" style="justify-content:center ;">
                                <a href="{{ url_for('detail_siswa', nis = siswa_smp['nis']) }}" class="btn-2 fungsi" title="Detail Siswa">
                                    <i class="fa-solid fa-id-card"></i>
                                </a>
                                <a href="{{ url_for('riwayat_pembayaran', nis = siswa_smp['nis']) }}" class="btn-1 fungsi" title="Riwayat Pembayaran">
                                    <i class="fi fi-sr-ballot"></i>
                                </a>
                                <a href="{{ url_for('pembayaran_siswa', nis = siswa_smp['nis']) }}" class="btn-2 fungsi" title="Pembayaran SPP">
                                    <i class="fi fi-sr-money-check-edit"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor%}
                    </table>
                </div> -->
            </div>
        </div>
            
            
        {% endblock %}
    </body>
</html>