<!DOCTYPE html>
{% extends 'base.html' %}
<html>
    <head>
        {% block head%}
            <!-- <title>Manajemen Siswa - Sistem Pembayaran DJ</title> -->
            <!-- JS Script -->
            <script>document.title = "Manajemen Siswa - Sistem Pembayaran DJ"</script>
            <script src="{{ url_for('static', filename='Javascript/filter_siswa.js') }}" type="text/javascript"></script>
        {% endblock %}
    </head>

    <body>
        {%block body%}
        <div class="container">
            <h1 class="page-title">Data Siswa/i Sekolah Daarul Jannah</h1>
            <h4 class="sub-title">Sistem Keuangan Sekolah Daarul Jannah</h4>

            <div class="filter">
                <div class="filter-kiri">
                    <select class="filter-tingkat" id="filter-tingkat" onchange="filterTingkat()">
                        <option value="Tingkat" disabled selected>Tingkat</option>
                        <option value="TK">TK</option>
                        <option value="SD" >SD</option>
                        <option value="SMP">SMP</option>
                    </select>
                    
                    <select class="filter-kelas" id="filter-kelas" onchange="filterKelas()">
                        <option value="Kelas" disabled selected>Kelas</option>
                        <option value="1D">1D</option>
                        <option value="2D">2D</option>
                        <option value="3D">3D</option>
                    </select>
                </div>
                <div class="filter-kanan">
                    <a href="/tambah_siswa">
                        <p class="p-btn">Tambah Data Siswa/i</p>
                    </a>
                    <div class="search-bar">
                        <select id="search-bar-filter">
                            <option value="NIS">NIS</option>
                            <option value="Nama">Nama</option>
                            <option value="Kelas">Kelas</option>
                        </select>
                        <input type="text" placeholder="Cari..." id="search-txt" onkeyup="searchBar()">
                    </div>
                </div>
            </div>
            
            <div class="table" id="data_siswa">
                <table>
                    <tr>
                        <th>NIS</th>
                        <th>Nama Siswa/i</th>
                        <th>Jenis Kelamin</th>
                        <th>Status Siswa/i</th>
                        <th>Tingkat</th>
                        <th>Kelas</th>
                        <th>Menu Fungsi</th>
                    </tr>
                    {% for siswa_tk in siswa_tk %}
                    <tr>
                        <td>{{ siswa_tk.nis }}</td>
                        <td><a href="{{ url_for('detail_siswa', nis = siswa_tk['nis']) }}">
                            {{siswa_tk.nama_siswa}}
                        </a></td>
                        <td>{{ siswa_tk.jenis_kelamin }}</td>
                        <td>{{ siswa_tk.status }}</td>
                        <td> TK </td>
                        <td>{{ siswa_tk.kelas }}</td>
                        <td>
                            <a class="btn-detail" href="{{ url_for('riwayat_pembayaran', nis = siswa_tk['nis']) }}">Riwayat Pembayaran</a>
                            <a class="btn-input"></a>
                        </td>
                    </tr>
                    {% endfor%}
                    {% for siswa_sd in siswa_sd %}
                    <tr>
                        <td>{{ siswa_sd.nis }}</td>
                        <td><a href="{{ url_for('detail_siswa', nis = siswa_sd['nis']) }}">
                            {{siswa_sd.nama_siswa}}
                        </a></td>
                        <td>{{ siswa_sd.jenis_kelamin }}</td>
                        <td>{{ siswa_sd.status }}</td>
                        <td> SD </td>
                        <td>{{ siswa_sd.kelas }}</td>
                        <td>
                            <a class="btn-detail" href="{{ url_for('riwayat_pembayaran', nis = siswa_sd['nis']) }}">Riwayat Pembayaran</a>
                            <a class="btn-input"></a>
                        </td>
                    </tr>
                    {% endfor%}
                    {% for siswa_smp in siswa_smp %}
                    <tr>
                        <td>{{ siswa_smp.nis }}</td>
                        <td>
                            <a href="{{ url_for('detail_siswa', nis = siswa_smp['nis']) }}">
                                {{siswa_smp.nama_siswa}}
                            </a>
                        </td>
                        <td>{{ siswa_smp.jenis_kelamin }}</td>
                        <td>{{ siswa_smp.status }}</td>
                        <td> SMP </td>
                        <td>{{ siswa_smp.kelas }}</td>
                        <td>
                            <a class="btn-detail"href="{{ url_for('riwayat_pembayaran', nis = siswa_smp['nis']) }}">Riwayat Pembayaran</a>
                            <a class="btn-input"></a>
                        </td>
                    </tr>
                    {% endfor%}
                </table>
            </div>
        </div>
        {% endblock %}
    </body>
</html>

