<!DOCTYPE html>
{% extends 'base.html' %}
<html>
    <head>
        {% block head%}
        <title>Dashboard - Sistem Pembayaran DJ</title>
        
        {% endblock %}
    </head>

<body>
    <!-- Sidebar -->
            {% block body %}
            <div class="container">
                <h1 class="page-title">Detail Data Siswa/i Daarul Jannah</h1>
                <h4 class="sub-title">Sistem Cek Pembayaran Sekolah Daarul Jannah</h4>
                    
                <div class="card">
                    <div class="wrap-data">
                        <img src="{{ url_for('static', filename='Image/foto-siswa.png') }}" class="ft-siswa" alt="">
                        <table class="tb-detail-siswa">
                            <form>
                                <tr>
                                    <td><b>Nama</b></td>
                                    <td><b>:</b></td>
                                    <td><input type="text" id="floatingInput" placeholder="Masukkan Nama" ></td>
                                </tr>
                                <tr>
                                    <td><b>Kelas</b></td>
                                    <td><b>:</b></td>
                                    <td><input type="text" id="floatingInput" placeholder="Masukkan Kelas" ></td>
                                </tr>
                                <tr>
                                    <td><b>Jenis Kelamin</b></td>
                                    <td><b>:</b></td>
                                    <td><input type="text" id="floatingInput" placeholder="Masukkan Jenis Kelamin" ></td>
                                </tr>
                                <tr>
                                    <td><b>Status</b></td>
                                    <td><b>:</b></td>
                                    <td><input type="text" id="floatingInput" placeholder="Masukkan Status" ></td>
                                </tr>
                                <tr>
                                    <td><b>NIS</b></td>
                                    <td><b>:</b></td>
                                    <td><input type="text" id="floatingInput" placeholder="Masukkan NIS" ></td>
                                </tr>
                                <tr>
                                    <td><b>NISN</b></td>
                                    <td><b>:</b></td>
                                    <td><input type="text" id="floatingInput" placeholder="Masukkan NISN" ></td>
                                </tr>
                                
                            </form>
                        </table>
                        
                    </div>
                    <div class="cmd-btn">
                        <a href="{{ url_for('ubah_siswa', nis = siswa['nis']) }}">
                            <p class="btn btn-success">Ubah Data Siswa/i</p>
                        </a>
                        <a href="{{ url_for('hapus_siswa', nis = siswa['nis']) }}">
                            <p class="btn btn-danger">Hapus Data Siswa/i</p>
                        </a>
                    </div>
                </div>
                    
                    <br>
                    
                </div>
            </div>
            {% endblock %}

</body>