<!DOCTYPE html>
{% extends 'base.html' %}
<html>
    <head>
        {% block head%}
        <title>Tambah Data Siswa - Sistem Pembayaran DJ</title>
        <script>document.title = "Tambah Data Siswa - Sistem Pembayaran DJ"</script>
        {% endblock %}
    </head>

    <body>
        {% block body %}
            <div class="container">
                <h1 class="page-title">Tambah Data Siswa/i Sekolah Daarul Jannah</h1>
                <h4 class="sub-title">Data Siswa/i Sekolah Daarul Jannah</h4>
                    
                <div class="card">
                    <div class="wrap-data">
                        <img src="{{ url_for('static', filename='Image/foto-siswa.png') }}" class="ft-siswa" alt="">
                        <form action="/tambah_siswa" method="post">
                            
                        <table class="tb-detail-siswa">
                            
                                <tr>
                                    <td><b>Nama</b></td>
                                    <td><b>:</b></td>
                                    <td><input type="text" id="floatingInput" placeholder="Masukkan Nama" name="nama_siswa"></td>
                                </tr>
                                <tr>
                                    <td><b>Kelas</b></td>
                                    <td><b>:</b></td>
                                    <td><input type="text" id="floatingInput" placeholder="Masukkan Kelas" name="kelas"></td>
                                </tr>
                                <tr>
                                    <td><b>Jenis Kelamin</b></td>
                                    <td><b>:</b></td>
                                    <td><input type="text" id="floatingInput" placeholder="Masukkan Jenis Kelamin" name="jenis_kelamin"></td>
                                </tr>
                                <tr>
                                    <td><b>Status</b></td>
                                    <td><b>:</b></td>
                                    <td><input type="text" id="floatingInput" placeholder="Masukkan Status" name="status"></td>
                                </tr>
                                <tr>
                                    <td><b>NIS</b></td>
                                    <td><b>:</b></td>
                                    <td><input type="number" id="floatingInput" placeholder="Masukkan NIS" name="nis"></td>
                                </tr>
                                <tr>
                                    <td><b>NISN</b></td>
                                    <td><b>:</b></td>
                                    <td><input type="number" id="floatingInput" placeholder="Masukkan NISN" name="nisn"></td>
                                </tr>
                                <tr>
                                    <td><b>Tingkat</b></td>
                                    <td><b>:</b></td>
                                    <td><input type="text" id="floatingInput" placeholder="Masukkan Tingkat" name="tingkat"></td>
                                </tr>
                                
                        </table>
                        <input type="submit" value="submit">
                        </form>
                    </div>
                </div>
                <br>
            </div>
        {% endblock %}
    </body>
</html> 