html, body {
  height: 100%;
  font-family: "Poppins", sans-serif !important;
  background-color: #FAFAFA;
}

.header{
    border-bottom: 1px solid #CCCCCC;
    /* background-color: #056A31; */
    width: 100%;
    height: fit-content;
}



.h1{
    padding-top: 50px;
    font-size: 24px;
    font-weight: bold;
}

.menu1{
    top: 50px;
    /*box Shadow */
    background: #FFFFFF;
    /* outline1 */

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    /* soft shadow */

    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 15px;
}

.tag-logo{
    color:white;
    text-align:center;
    padding-bottom: 20px;
}

a{
    color:black;
    text-decoration:none;
    transition: 0.1s;
}

a:hover{
    color: #056A31;
}


.box-menu{
        border: none;
        background-color: 056A31 !important;
        color: white;
        padding: 18px 18px;
        font-size: 16px;
        cursor: pointer;

}
.user-box{
    /* user-box */

    position: flex;
    width: 213px;
    height: 75px;
    left: 1323px;
    top: 0px;

    /* Fill color2 */

    background: #07361B;
}

.nama{
    color: white;
    font-weight: bold;
    text-align: right;
    padding-right: 60px;
    padding-top: 14px;
}


.fa-user-circle{
    position: absolute;
    color: white;
    font-size: 38px;
    display: inline-block;
    margin-left:10.5rem;
    margin-top: 1.15rem;
}

.logo{
    padding:20px;
    padding-left: 80px;
}

.schlogo{
    height:100px;
    width:auto;
}

nav ul{
    margin:0;
    padding:0;
    height:100%;
    width:260px;
    position:fixed;
    top:0;
    left:0;
    background-color:#056A31;
}

nav ul li{
    list-style:none;
}


nav ul li a{
    display:block;
    font-family:"Poppins";
    text-decoration:none;
    text-transform:uppercase;
    font-size:17px;
    color:#fff;
    position:relative;
    padding:15px 0px 15px 25px;
    transition:all 0.5s;
}

nav ul li a:before{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:100%;
    background:#FAFAFA;
    border-radius:40px 0 0 40px;
    z-index:-1;
    transition:all 1s;
}



nav ul li a:hover{
    color:#2b2626;
}

nav ul li a:hover:before{
    width:95%;
}


.wrapper{
    margin-left:260px;
}

.section{
    display:grid;
    min-height:100vh;
    text-align:center;
}

.box-area h2{
    text-transform:uppercase;
    font-size:30px;
}
.profil{
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
   
}

.konten-profil:hover{
    cursor:pointer;
}

.konten-profil{
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 10px;
}

.teks-profil{
    display: flex;
    flex-direction: column;
    text-align: right;
    
}

.teks-profil h5, h6{
    margin-bottom: 0px;
    margin-top: 1px;
    margin-right: 10px;
}

.teks-profil h5{
    font-weight: bolder;
    font-size: medium;
    margin-bottom: 2px;
}

.foto-profil{
    width:50px; 
    height:50px;
    border-radius:100px;
}

.disabled {
    pointer-events:none;     
}

.logout-btn{
    background-color: #A60000;
    padding: 5px;
    border-radius: 5px;
    color: white!important; 
}

.logout-btn:hover{
    background-color: #820000  !important;
}

.dropdown-menu li{
    margin-top: 5px;
}