html, body {
    font-family: "Poppins", sans-serif !important;
    background-color: #FAFAFA;
  }
  
.footer{
  float:right;
  position: absolute;
  width: 100%;
  padding: 10px 0;
  bottom: 0px;
  color: #B5B5B5;
  z-index: 1;
}

.footer span{
  float: right;
  margin-right: 30px; 
}
  
.tag-logo{
    color:white;
    text-align:center;
    padding-bottom: 20px;
}
  
a{
  color:black;
  text-decoration:none;
  transition: 0.1s;
}
  
a:hover{
  color: #056A31;
}
  
  
.box-menu{
  border: none;
  background-color: 056A31 !important;
  color: white;
  font-size: 16px;
  cursor: pointer;  
}
  
.fa-user-circle{
    position: absolute;
    color: white;
    font-size: 38px;
    display: inline-block;
    margin-left:10.5rem;
    margin-top: 1.15rem;
}
  
.logo{
    padding:20px;
    padding-left: 80px;
}
  
.schlogo{
    height:100px;
    width:auto;
}
  nav ul{
      margin:0;
      padding:0;
      height:100%;
      width:250px;
      position:fixed;
      top:0;
      left:0;
      background-color:#056A31;
      z-index: 999;
  }
  
  nav ul li{
      list-style:none;
  }
  
  
  nav ul li a{
      display:block;
      font-family:"Poppins";
      text-decoration:none;
      text-transform:uppercase;
      font-size:17px;
      color:#fff;
      position:relative;
      padding:15px 0px 15px 25px;
      transition:all 0.5s;
  }
  
  nav ul li a:before{
      content:'';
      position:absolute;
      top:0;
      right:0;
      height:100%;
      background:#FAFAFA;
      border-radius:40px 0 0 40px;
      transition:all 1s;
  }
  
  nav ul li a:hover{
      color:#2b2626;
  }
  
  nav ul li a:hover:before{
      width:95%;
  }

  .section{
      display:grid;
      place-items:center;
      text-align:center;
  }
  
  .box-area{
    padding-left: 250px;
  }

  h2{
      text-transform:uppercase;
      font-size:14px;
  }
  
  .nama {
    color: white;
    font-weight: bold;
    text-align: right;
    padding-right: 60px;
    padding-top: 14px;
  }  
  
  .heading{
    margin-right: 73rem;
  }

  .head-pack {
    position: absolute;
    margin-left: 1rem;
    display: inline-block;
  }
  
  .head-pack h1{
      font-size: 24px;
      font-weight: bold;
      padding-top: 50px;
  }
  
  .head-pack h2{
      font-size: 14px;
  }
  
  .fa-chevron-left{
    font-size:37px;
    padding-top: 58px;
  }
  
  .data-container{
    /* data-siswa-container */
  
    position: flex;
    margin-top:5rem;
    /* outline1 */
  
    box-sizing: border-box;
    /* soft shadow */
  }
  
  select#kelas{
    width: 217px;
    height: 47px;
    border-radius: 10px;
    padding-left:20px;
    font-size:15x;
    font-weight: bold;
    float:left;
  }
  
  select#kelas{
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  }

  select#att-cari{
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  }

  
  th{
    text-align: center;
  }

  table{
    border: 1px;
  }
  
  .tabel-siswa{
    border-radius:15px;
    width: 1195px;
    height:333px;
    bottom: 43px;
    margin-top: 20px;
  
    background: #FFFFFF;
    /* outline1 */
  
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
  
    border-collapse: separate !important;
    border-spacing: 0 !important;
  }

  .tabel-siswa td{
    text-align: center;
    font-size:14px;
  }
  
  
  .wrapper{
    width: 100%;
  }

  .scrollable1 {
    display: block;
    height: 333px;
    overflow-y: scroll;
    padding-left: 0px !important;
  }
  
  .scrollable2{
    display: block;
    width: auto;
    height: 300px;
    overflow-y: scroll;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: darkgrey;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  th{
    position: sticky;
    background: white !important;
  }
  
  .start{
    position: sticky;
    top: 0;
    background: white !important;
    border-top-left-radius: 15px !important;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }

  .end{
    position: sticky;
    top: 0;
    background: white !important;
    border-top-right-radius: 15px !important;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
  
  .wm1{
    color:white;
  }
  
  .btn{
    font-weight: bold;
    width: 199px !important;
    height:47px;
    overflow: hidden !important;
    border-radius: 10px !important;
    text-align: center !important;
    vertical-align: middle !important;
    background-color:#056A31;
    color:#FFF;
    font-size:14px;
  }

  .btn:hover{
    background-color: #089947;
    color:#FFF;
  }

  .btn#detail{
    width:187px !important;
    height:35px;
    font-size:12px !important;
  }

  .btn#input{
    width:187px !important;
    height:35px;
    font-size:12px !important; 
  }

  .btn#delete{
    width:35px !important;
    height:35px;
    font-size:12px !important;
    background-color: #A60000;
  }

  .btn#delete:hover{
    background-color: #cc0505;
    color:#FFF;
  }