<!DOCTYPE html>
{% extends 'base.html' %}
<html>
    <head>
        {% block head%}
        <title>Detail Data Siswa - Sistem Pembayaran DJ</title>
        <script>document.title = "Detail Data Siswa - Sistem Pembayaran DJ"</script>
        {% endblock %}
    </head>

<body>
    <!-- Sidebar -->
            {% block body %}
            {% set popup = True %}
            <h1 class="page-title">Detail Data Siswa/i Daarul Jannah</h1>
            <h4 class="sub-title">Data Siswa/i Sekolah Daarul Jannah</h4>
            
            <div class="container">
                <div class="card">
                    <div class="row fl-stretch">
                        {% set foto_siswa = "foto_siswa/default.jpg" %}
                        <img src="{{url_for('static', filename=foto_siswa)}}" class="ft-siswa" alt="foto orang" style="margin-right:5%; margin-left:5%">
                        <div >
                            <div class="row detail">
                                <h4 class="in-2">Nama</h4>
                                <h4>:</h4>
                                <div class="dtl-style">
                                    <h4>{{siswa.nama_siswa}}</h4>
                                </div>
                            </div>
                               
                            <div class="row">
                                <div class="row detail">
                                    <h4 class="in-1">NIS</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{siswa.nis}}</h4>
                                    </div>
                                </div>
                                <div class="row detail">
                                    <h4 class="in-1">NISN</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{siswa.nisn}}</h4>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="row detail">
                                    <h4 class="in-1">Tingkat</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{tingkat}}</h4>
                                    </div>
                                </div>
                                <div class="row detail">
                                    <h4 class="in-1">Kelas</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{siswa.kelas}}</h4>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="row detail">
                                    <h4 class="in-1">Jenis Kelamin</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{siswa.jenis_kelamin}}</h4>
                                    </div>
                                </div>
                                <div class="row detail">
                                    <h4 class="in-1">Status</h4>
                                    <h4>:</h4>
                                    <div class="dtl-style">
                                        <h4>{{siswa.status}}</h4>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                            
                    </div>
                    <div class="row cmd-btn" style="justify-content:flex-end;">
                        <a href="{{ url_for('ubah_siswa', nis = siswa['nis']) }}" title="Ubah Data Siswa/i">
                            <p class="ch-btn btn">Ubah Data Siswa/i</p>
                        </a>
                        {% if session['otoritas'] == "Admin" %}
                            <button title="Hapus Data Siswa/i" id="delete" class="del-btn btn" style="color: white;" onclick="open_modal()">
                                Hapus Data Siswa/i
                            </button>
                        {% endif %}
                    </div> 
                </div>
            </div> 
             
            <div class="pop-up" role="alert">
                <div class="modal">
                    <!-- <i class="fa-solid fa-xmark close-btn" id="confirm"></i> -->
                    <p id="confirm">Apakah Anda yakin untuk menghapus data siswa?</p>
                    <div class="modal-buttons row">
                        <a href="{{ url_for('detail_siswa', nis = siswa['nis']) }}" class="btn-no">
                            <p>Batal</p></a>
                        <a href="{{ url_for('hapus_siswa', nis = siswa['nis']) }}" class="btn-yes">
                            <p>Hapus</p></a>
                    </div>
                </div>
            </div>
            
            <script src="{{url_for('static', filename='Javascript/datsis_active_class.js')}}">   </script>   
            <script>
                // Get the modal
                function open_modal(){

                    var modal = document.getElementsByClassName("pop-up")[0];
                    modal.style.display = "block";
    
                }
            </script>
            {% endblock %}

</body>
</html>